.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 21px 17px;
  list-style: none;
  padding: 0px;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
  .gallery__list {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .gallery__list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 282px;
  }
}
